body {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.calculator-shell {
    background-color: pink;
    padding: 1%;
    border-radius: 8px;
    width: 400px;
}

.display {
    background-color: bisque;
    margin: 5%;
    padding: 10%;
    text-align: right;
    font-size: xx-large;
    height: 70px;
}

.all-buttons{
    display: flex;
    flex-wrap: wrap;
}

button {
    font-family: 'Courier New', Courier, monospace;
    margin: 2%;
    background-color: lightcyan;
    border-radius: 4px;
    padding: 10%;
    font-size: large;
    height: 20px;
    width: 20px;
}

.clear-and-delete-button-container {
    display: flex;
}

#clear-button {
    background-color: aquamarine;
}

#delete-button {
    background-color: red;
}


