body {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.calculator-shell {
    background-color: pink;
    padding: 1%;
    border-radius: 8px;
}

.display {
    background-color: bisque;
    margin: 5%;
    padding: 10%;
    text-align: right;
    font-size: xx-large;
}

.all-buttons{
    display: flex;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
}

.number-buttons {
    margin-right: 0px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    margin: 2%;
    background-color: lightcyan;
    border-radius: 4px;
    padding: 10%;
    font-size: large;
}



