body {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.calculator-shell {
    background-color: pink;
    padding: 1%;
    margin-top: 10%;
    border-radius: 8px;
    width: 400px;
}

.top-display {
    color: grey;
}

.display {
    background-color: bisque;
    margin: 5%;
    padding: 10%;
    text-align: right;
    font-size: xx-large;
    height: 70px;
}

.all-buttons{
    display: flex;
    flex-wrap: wrap;
}

button {
    font-family: 'Courier New', Courier, monospace;
    margin: 2%;
    border-radius: 4px;
    padding: 10%;
    font-size: large;
    height: 20px;
    width: 20px;
    border: 0px;
}

.number-button {
    background-color: lightcyan;
}

#clear-button {
    background-color: aquamarine;
    width: 177px;
}

#delete-button {
    background-color: peru;
    width: 177px;
}

#equals-button {
    background-color: palevioletred;
}

.clear-and-delete-button-container {
    display: flex;
    flex-wrap: wrap;
}

